<div class="file-container">
  <input
    #fileInput
    type="file"
    (change)="onFileSelected($event)"
    multiple
    class="file-input"
    accept=".pdf,.txt,.docx,.xlsx,.csv,.zip,.rar"
    hidden
  />

  <div class="rendered-files">
    <div *ngFor="let file of renderedFiles" class="file-item">
      <img [src]="getFileIcon(file.file)" alt="File Icon" class="file-icon" />
      <div class="file-info">
        <p class="file-title">{{ file.file.name }}</p>
        <button class="download-button" (click)="downloadFile(file.file)">
          Download
        </button>
      </div>
    </div>
  </div>
</div>