<header>
    <h1>Projetos</h1>
    <div class="right-corner">
        <div class="tab-search">
            <div class="search-field">
              <input
                type="text"
                matInput
                [formControl]="searchControl"
                [matAutocomplete]="auto"
                placeholder="Busca projeto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let project of filteredProjects | async"
                  [value]="project.name"
                  (click)="onOptionSelected(project.name)">
                  {{ project.name }}
                </mat-option>
              </mat-autocomplete>
            </div>
            <img src="../../../assets/images/lupa.png" alt="Search Icon" />
          </div>
        <!-- <div class="tab-search">
            <input placeholder="Busca">
            <img src="../../../assets/images/lupa.png">  
        </div> -->
        <div class="profile">
            <img [src]="profileImage" alt="User Profile Image" (error)="profileImage = '../../../assets/images/perfil-prototipo.png'">
        </div>
    </div>
</header>

<body>
    <ul class="projects-list">
        <li *ngFor="let project of projects">
            <a routerLink="/jornada">
                <div class="project">
                    <img [src]="project.image || '../../../assets/images/cbl-back.png'" 
                         alt="Project Image" 
                         (error)="project.image = '../../../assets/images/cbl-back.png'">
                    <br>
                    {{ project.name }}
                </div>
            </a>
        </li>
        <li>
            <div class="new-project" (click)="handleCreateProject()">
                <br>
                <div class="big-font">+</div>
                <br>
                <br>
                Novo Projeto
                <br>
            </div>
        </li>
    </ul>    
</body>
