<header>
    <h1>Projetos</h1>
    <div class="tab-search">
        <input placeholder="Busca">
        <img src="../../../assets/images/lupa.png">  
    </div>
    <div class="profile">
        <img src="../../../assets/images/perfil-prototipo.png">
    </div>
</header>

<body>
    <ul class="projects-list">
    <li>
        <a routerLink="/jornada"><div class="project">
            <img src="../../../assets/images/project-icon.png">
            <br>
            Projeto CBL
        </div></a>
    </li>
    <li>
        <div class="new-project">
            <div class="big-font"(click)="handleCreateProject()">+</div>
            <br>
            Novo Projeto
        </div>
    </li>
    </ul>
</body>