html, body{
    background-color: var(--main-color);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 80vh; /* Take the full height of the screen */
}
  
.center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px; /* Adjust space between elements */
}

.roda-fundo {
    position: absolute;
}

.roda-frente {
    position: relative;
    left: 10px;
    bottom: 10px;
    width: 594px;
    height: 575px;
}

.engage {
    position: absolute;
    right: 0;
    font-size: 36px;
    font-weight: bold;
    color: #58BC68;
    text-decoration: none;
}

.engage:hover {
    text-decoration: underline;
}

.act {
    position: absolute;
    left: 5%;
    font-size: 36px;
    font-weight: bold;
    color: #428CD3;
    text-decoration: none;
}

.act:hover {
    text-decoration: underline;
}

.investigate-container {
    display: flex;
    justify-content: center;
}

.investigate {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: #F5C949;
    text-decoration: none;
}

.investigate:hover {
    text-decoration: underline;
}
// main{
//     .center{
//         // width: 697px;
//         // height: 694px;
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding-top: 4%;
        
//         .roda-fundo{
//             position: absolute;
//         }

//         .roda-frente{
//             position: relative;
//             left: 10px;
//             bottom: 10px;
//             width: 594px;
//             height: 575px;
//         }

//         .engage{
//             position: absolute;
//             padding-left: 4%;
//             font-size: 36px;
//             font-weight: bold;
//             color: #58BC68;
//             text-decoration: none;
//         }

//         .engage:hover{
//             text-decoration: underline;
//         }
        

//         .act{
//             position: flex;
//             font-size: 36px;
//             padding-right: 80%;
//             font-weight: bold;
//             color:#428CD3;
//             text-decoration: none;
//         }

//         .act:hover{
//             text-decoration: underline;
//         }
//     }

//     .investigate{
//         position: absolute;
//         align-items: center;
//         justify-content: center;
//         padding-top: 5%;
//         font-size: 36px;
//         font-weight: bold;
//         color:#F5C949;
//         text-align: center;
//         text-decoration: none;
//     }
    
//     .investigate:hover{
//         text-decoration: underline;
//     }
// }



// h1{
//     font-size: 40px;
//     padding-top: 20px;
//     color: white;
//     font-family: Roboto, sans-serif;
//     font-weight: 450;
// }

.toggle-menu {
    margin-right: 10px;
}

.tree{
    font-size: 30px;
    padding-left: 10%;
    display: flex;
    font-family: Helvetica, Bold;
    align-items: center;
    > * {
        display: inline-block;
    }
    // justify-content: center;
    gap: 10px;

}



header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 5%;
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            display: inline-block;
            margin: 0px 10px;
        
        
            li a {
                color: white;
                text-decoration: none;
            }
            
            li a:hover {
                color: #222121;
            }
        }
    }

    .subir{
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    
    .subir:hover{
        text-decoration: underline;
    }
}