html, body{
    background-color: var(--main-color);
    height: 100vh;
}

.center{
    // width: 697px;
    // height: 694px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    
    .roda-fundo{
        position: absolute;
    }

    .roda-frente{
        position: relative;
        left: 10px;
        bottom: 10px;
        width: 594px;
        height: 575px;
    }

}


// h1{
//     font-size: 40px;
//     padding-top: 20px;
//     color: white;
//     font-family: Roboto, sans-serif;
//     font-weight: 450;
// }

.toggle-menu {
    margin-right: 10px;
}

.tree{
    font-size: 30px;
    padding-left: 10%;
    display: flex;
    font-family: Helvetica, Bold;
    align-items: center;
    > * {
        display: inline-block;
    }
    // justify-content: center;
    gap: 10px;

}



// .engageProgress{
//     position: absolute;
//     top: 350px;
//     right: 550px;
//     color: white;
// }

// .investigateProgress{
//     position: absolute;
//     top: 490px;
//     left: 600px;
//     color: white;
// }

// .actProgress{
//     position: absolute;
//     top: 350px;
//     left: 525px;
//     color: white;
// }


header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 5%;
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            display: inline-block;
            margin: 0px 10px;
        
        
            li a {
                color: white;
                text-decoration: none;
            }
            
            li a:hover {
                color: #222121;
            }
        }
    }
}