form{
  padding: 0 100px;
  position: relative;
  flex-grow: 1; // Allows the form to take up the remaining space
  transition: width 0.3s ease, max-width 0.3s ease;
  max-width: 1100px; // Limit the form's width so it doesn't grow too large on very wide screens
  width: 100%;
  
   // Default form width when nothing is collapsed
  &.default-width {
      min-width: 1115px; // Default width, adjust as needed
      margin-left: 0;
  }

  // Expanded form width when pagination is collapsed, shifts left to cover more screen space
  &.expanded-width {
      min-width: 1600px; // Fixed expanded width
      margin-left: 0; // Shift form left to give it more screen space
  }

  &.pagination-collapsed {
    width: calc(100vw - 320px); // Account for collapsed pagination and visible tab
    max-width: calc(100vw - 320px);
    margin-left: 0;
  }

  &.half-width {
    width: calc(100vw - 436px); /* Account for the tab width */
    max-width: calc(100vw - 436px); /* Adjust width dynamically */
    margin-left: 0;
  }

  // Full width when both pagination and tab are collapsed
  &.full-width {
      width: 100vw;
      max-width: none;
      margin-left: 0; // Reset to center align if both are collapsed
  }

  label{
      font-size: 28px;
      color: white;
  }


  //----------------------
  // .content-wrapper {
  //     overflow: hidden;
  //     transition: height 0.3s ease;
  //     max-height: 800px; /* Matches the max height set in the component */
  // }
  //--------------------

  .textos {
      width: 100%;
      min-width: 150px;
      resize: none;
      overflow-y: hidden;
      background-color: transparent;
      color: white;
      border: none;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 22px;
      line-height: 24px;
      outline: none;
      transition: height 0.2s ease; /* Smooth transition for resizing */
  }
    
  .collapsed .textos {
      max-height: 60px; /* Height when collapsed */
      overflow-y: auto; /* Show scroll when height is exceeded */
  }

  .align-vertical{
      display: inline-flex;
      align-items: center;
      gap: 30px;
  }

  .step-container{
      position: relative;
      background-color: #262626;
      padding: 20px;
      border-radius: 10px;
      height: 90px; /* Default height for all phases */
      overflow: hidden; /* Prevent content overflow */
      transition: height 0.5s ease-in-out, flex-grow 0.5s ease-in-out;
      flex-grow: 0;
  }

  
  .step-container.expanded {
      min-height: 500px; /* Expanded height */
      flex-grow: 1; /* Allows this phase to take up more space smoothly */
  }

  .step-container.collapsed {
      max-height: 150px; /* Height when collapsed */
  }

  .step-container .header {
      position: sticky;
      top: 0;
      background-color: inherit; /* Match the container's background */
      padding-bottom: 10px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  .phase-controls {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }
  
  .toggle-symbol{
      width: 18px;
      height: 22px;
  }

} 

.editable-title {
  display: flex;
  align-items: center;

  .custom-title {
    cursor: pointer;
    font-size: 28px;
    color: white;
    margin: 0;
  }

  .title-input {
    font-size: 28px;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: auto;
    min-width: 150px;
  }

  .title-input:focus {
    border-bottom: 2px solid #58bc68; /* Green color for focus */
  }
}