<div class="cbl-canvas" *ngIf="isVisible">
  <button class="delete-button" (click)="removeCanvas()">×</button>
  <div class="header">
    <div class="title">
      <label>CBL CANVAS</label>
    </div>
    <div class="challenge-type">
      <label>CHALLENGE TYPE</label>
      <input type="text" />
    </div>
    <div class="team">
      <label>TEAM</label>
      <input type="text" />
    </div>
    <div class="version">
      <label>VERS.</label>
      <input type="text" />
    </div>
  </div>
  <div class="content">
    <div class="big-idea">
      <label>BIG IDEA</label>
      <textarea></textarea>
    </div>
    <div class="questions">
      <div class="essential-questions">
        <label>ESSENTIAL QUESTIONS</label>
        <textarea></textarea>
      </div>
      <div class="essential-question">
        <label>ESSENTIAL QUESTION</label>
        <textarea></textarea>
      </div>
      <div class="challenge">
        <label>CHALLENGE</label>
        <textarea></textarea>
      </div>
    </div>
    <div class="details">
      <div class="guiding-questions">
        <label>GUIDING QUESTIONS</label>
        <textarea></textarea>
      </div>
      <div class="guiding-activities">
        <label>GUIDING ACTIVITIES AND RESOURCES</label>
        <textarea></textarea>
      </div>
      <div class="research-synthesis">
        <label>RESEARCH SYNTHESIS (WHAT WE LEARNED)</label>
        <textarea></textarea>
      </div>
    </div>
    <div class="footer">
      <div class="solution-concept">
        <label>SOLUTION CONCEPT</label>
        <textarea></textarea>
      </div>
      <div class="next-steps">
        <label>NEXT STEPS</label>
        <textarea></textarea>
      </div>
    </div>
  </div>
</div>
