<header>
  <div class="tree">
    <!-- <app-togglemenu class="toggle-menu"></app-togglemenu> -->
    <a routerLink="/projeto" class="subir">Projetos</a> > <a routerLink="/jornada" class="subir">Projeto CBL</a> > <b>Investigate</b>
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/engage" class="nav-acessar-engage">Engage</a></li>
      <li class="nav-investigate-select">Investigate</li>
      <li><a routerLink="/act" class="nav-acessar-act">Act</a></li>
    </ul>
  </div>
</header>

<body>

  <div class="main-content">
    <div class="pagination">
      <div class="current-block">

      </div>
      <div class="new-block">
        +
      </div>
    </div>
   
    <!-- Melhorar implementação posteriormente acessando Engage para ter referência --> 
    <form>
      <div class="step-container" [class.expanded]="isExpanded('guiding_questions')" >
        <label class="align-vertical">
          <img src="../../../assets/images/guiding-questions.png">
          Guiding Questions
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('guiding_questions')">
          </div>
        </label><br><br>
        <div>
          <textarea class="textos"></textarea>
        </div>
      </div>
      <br>
      <div class="step-container" [class.expanded]="isExpanded('activities')">
        <label class="align-vertical">
          <img src="../../../assets/images/activities.png">
          Activities and Resources
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('activities')">
          </div>
        </label><br><br>
        <div>
          <textarea class="textos"></textarea>
        </div>
      </div>
      <br>
      <div class="step-container" [class.expanded]="isExpanded('synthesis')">
        <label class="align-vertical">
          <img src="../../../assets/images/synthesis.png">
          Synthesis
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('synthesis')">
          </div>
        </label><br><br>
        <div>
          <textarea class="textos"></textarea>
        </div>
      </div>
    </form>
  </div>

  <app-tab></app-tab>

  <div class="archives" *ngFor="let file of files">
    <img class="file-icon" [src]="getFileIcon(file)" (click)="downloadFile(file)">
    <p class="title-archive">{{ file.name }}</p>
    <!-- <a [href]="getFileUrl(file)" (click)="downloadFile(file)"><button class="button-archive">Download</button></a> -->
  </div>

  <div class="images" *ngFor="let image of images">
    <img [src]="image.value">
  </div>


</body>