<header>
  <div class="tree">
    <!-- <app-togglemenu class="toggle-menu"></app-togglemenu> -->
    <a routerLink="/projeto" class="subir">Projetos</a> > <a routerLink="/jornada" class="subir">Projeto CBL</a> > <b>Investigate</b>
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/engage" class="nav-acessar-engage">Engage</a></li>
      <li class="nav-investigate-select">Investigate</li>
      <li><a routerLink="/act" class="nav-acessar-act">Act</a></li>
    </ul>
  </div>
</header>

<body>

  <div class="main-content">
    <div class="investigate-container">
      <div class="pagination-container" [class.collapsed]="isPaginationCollapsed">
        <app-toggleicon 
          [isCollapsed]="isPaginationCollapsed"
          (toggle)="togglePagination()"
          class="toggle-icon">
        </app-toggleicon>
        
        <div class="pagination">
          <div class="current-block">
            1
          </div>
          <div class="new-block">
            +
          </div>
        </div>
      </div>
   
      <!-- Melhorar implementação posteriormente acessando Engage para ter referência --> 
      <form
        [class.full-width]="isFullWidth"
        [class.expanded-width]="isPaginationCollapsed && !isTabCollapsed"
        [class.default-width]="!isFullWidth && !isPaginationCollapsed"
      >
        <div class="step-container" [class.expanded]="isExpanded('guiding_questions')" >
          <label class="align-vertical">
            <img src="../../../assets/images/guiding-questions.png">
            Guiding Questions
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('guiding_questions')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('guiding_questions')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
        <br>
        <div class="step-container" [class.expanded]="isExpanded('activities')">
          <label class="align-vertical">
            <img src="../../../assets/images/activities.png">
            Activities and Resources
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('activities')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('activities')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
        <br>
        <div class="step-container" [class.expanded]="isExpanded('synthesis')">
          <label class="align-vertical">
            <img src="../../../assets/images/synthesis.png">
            Synthesis
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('synthesis')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('synthesis')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-container" [class.collapsed]="isTabCollapsed">
      <app-toggleicon 
        [isCollapsed]="isTabCollapsed" 
        (toggle)="toggleTab()"
        class="toggle-icon">
      </app-toggleicon>
      <app-tab [isCollapsed]="isTabCollapsed"></app-tab>
    </div>
  </div>
    


  <div class="archives" *ngFor="let file of files">
    <img class="file-icon" [src]="getFileIcon(file)" (click)="downloadFile(file)">
    <p class="title-archive">{{ file.name }}</p>
    <!-- <a [href]="getFileUrl(file)" (click)="downloadFile(file)"><button class="button-archive">Download</button></a> -->
  </div>

  <div class="images" *ngFor="let image of images">
    <img [src]="image.value">
  </div>


</body>