html, body{
    background-color: var(--main-color);
    min-height: 100vh;
    font-family: Roboto, sans-serif;

}

header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin: 0;
    position: relative;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 337px;
    padding-left: 7%;

  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            display: inline-block;
            margin: 0px 15px;
        }
    }

    .tree{
        font-size: 30px;
        // padding-left: 10%;
        display: flex;
        font-family: Helvetica, Bold;
        align-items: center;
        > * {
            display: inline-block;
        }
        // justify-content: center;
        gap: 10px;

    }
    
    .nav-acessar-engage{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-engage:hover{
        color: #58BC68
    }

    .nav-acessar-act{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-act:hover{
        color: #428CD3
    }
    
    .nav-investigate-select{
        background-color: #F5C949;
        padding: 10px;
        border-radius: 10px;
        color: #000000;
    }

    .subir{
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    
    .subir:hover{
        text-decoration: underline;
    }
}


form{
    padding: 0 450px;
    position: relative;

    label{
        font-size: 28px;
        color: white;
    }

    .textos {
        width: 100%;
        min-width: 150px;
        resize: none;
        overflow-y: hidden;
        background-color: transparent;
        color: white;
        border: none;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        font-size: 22px;
        line-height: 24px;
        outline: none;
        transition: height 0.2s ease; /* Smooth transition for resizing */
        max-height: 400px; /* Max height constraint */
    }
    
    .collapsed .textos {
        max-height: 60px; /* Height when collapsed */
        overflow-y: auto; /* Show scroll when height is exceeded */
    }


    .align-vertical{
        display: inline-flex;
        align-items: center;
        gap: 30px;
    }

    .step-container{
        position: relative;
        background-color: #262626;
        padding: 20px;
        border-radius: 10px;
        height: 150px; /* Default height for all phases */
        overflow: hidden; /* Prevent content overflow */
        transition: height 0.5s ease-in-out, flex-grow 0.5s ease-in-out;
        flex-grow: 0;
        // cursor: pointer;
    }
    
    .step-container.expanded {
        height: 500px; /* Expanded height */
        flex-grow: 1; /* Allows this phase to take up more space smoothly */
    }
      
    .phase-controls {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    .toggle-symbol{
        width: 18px;
        height: 22px;
    }
    
} 

.main-content{
    display: inline;
    gap: 20px;
}

.navigation{
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
    margin-left: 12%;
}

.pagination{
    color: white;
    padding-left: 250px;
    position: absolute;
}

.current-block{
    width: 178px;
    height: 100px;
    background-color: #F5C949;
    border: 5px solid white;
    border-radius: 10px;
}

.new-block{
    width: 178px;
    height: 100px;
    background-color: #262626;
    border-radius: 10px;    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 50;
}

.new-block:hover{
    cursor: pointer;
}

.visual-tab{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: fixed;
    height: 100%;
    background-color: #262626;
    width: 337px;
    top: 0;
    right: 0;
}

.tab-selected{
    background-color: #707070;
    border-radius: 10px;
    padding: 15px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 40px 0;
    color: white;
    font-size: 16px;

    li {
        display: inline-block;
        margin: 0px 25px;
    }
    
    li div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.tab-search{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 200px; 
    padding: 0 10px;
    margin-bottom: 30px;

    input{
        font-size: 16px;
        color: black;
        width: 150px;
        text-decoration: none;
        background: transparent;
        border: none;
        outline: none;
    }
}

.content-grid {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    gap: 20px;
    justify-items: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.content-grid div {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0 30px;
}

  .add-tabela {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-tabela:hover {
    background-color: #0056b3;
  }
  
  .add-button {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 5px;
    transform: translateY(-100%);
    transition: opacity 0.3s ease;
    opacity: 0;
    
    
 }

.add-button:hover {
    opacity: 1;
}

.title-archive{
    margin-left: 100px;
    font-size: 14px;
}

.button-archive{
    margin-left: 100px;
    background-color: rgb(1,155,158);
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    transition: 0.3s;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-archive:hover {opacity: 1}

.file-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
  
.file-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}
  
.file-list > div p {
    margin: 0; /* Remover margem padrão */
}

.file-icon{
    width: 40px;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

p{
    font-size: 28px;
    color: white;
}

.addLinha{
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

.container{
    margin-left: 100px;
}

textarea{
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
    min-width: 90%;
    resize: none;
    // overflow: hidden;
    font-size: 16px;
    overflow-y: hidden;
    height: auto;
}

.images{
    margin-left: 100px;
}