.modal-perfil {
    background-color: #000000BF;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // text-align: center;
    padding: 20px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}
  
.close-button {
    align-self: flex-start;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 28px;
    margin-top: 1%;
    margin-left: 1%;
}

.profile-image-edit{
    padding-bottom: 300px;
    margin-top: 6%;
    margin-right: 50px;
    position: relative;
}

.profile-image {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.edit-button{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 65%;
    cursor: pointer;
}


.modal-content{
    position: flex;
}

.section-title {
    margin: 30px 0;
}

.form-button {
    margin-top: 20px;
    margin-left: 700px;
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    height: 35px;
    // padding: 10px 25px;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}

// #alterar-senha{
//     padding: 10px 32px;
// }

.dados-cadastro{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows of dynamic height */
    gap: 5%; /* Adjust spacing between grid items as needed */
    // padding: 10px;
}

.dados-senha{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows of dynamic height */
    gap: 5%; /* Adjust spacing between grid items as needed */
    // padding: 10px;
}

.dados-input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    padding: 7px 10px;
    width: 100%; /* Ensures the input takes up full width of grid cell */
    outline: none;
}