.modal-perfil {
    background-color: #000000BF;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // text-align: center;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  
.close-button {
    align-self: flex-start;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 28px;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.edit-button{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.modal-content h4 {
    margin-top: 20px;
}

.form-button {
    margin-top: 20px;
    margin-left: 700px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 12px;
}

#alterar-senha{
    padding: 10px 32px;
}

.dados-cadastro{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows of dynamic height */
    gap: 30px; /* Adjust spacing between grid items as needed */
    padding: 10px;
}

.dados-senha{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto); /* 2 rows of dynamic height */
    gap: 30px; /* Adjust spacing between grid items as needed */
    padding: 10px;
}

.dados-input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    padding: 7px 10px;
    width: 100%; /* Ensures the input takes up full width of grid cell */
    outline: none;
}

// .modal-perfil{
//     background-color: #707070;
//     width: 300px;
//     height: 400px;
// }

// .form-button{
//     background-color: black;
//     border-radius: 100px;
//     color: white;
//     font-size: 14px;
// }

// .dados-cadastro{
//     color: white;
//     font-size: 16px;
// }

// .dados-senha{
//     color: white;
//     font-size: 16px;
// }