<div class="pagination" [ngClass]="{ 'collapsed': isCollapsed }">
    <!-- Dynamic list of pages -->
    <div
      *ngFor="let page of pages"
      class="current-block"
      [class.selected]="page.id === selectedPage"
      (click)="selectPage(page.id)"
      [ngStyle]="{'background-color': backgroundColor}"
    >
      {{ page.id }}
    </div>
  
    <!-- Button to add new pages -->
    <div
      class="new-block"
      (click)="addNewPage()"
      *ngIf="pages.length < maxPages"
    >
      +
    </div>
  </div>