html, body{
    background-color: var(--main-color);
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}


header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin: 0;
    position: relative;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 337px;
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            display: inline-block;
            margin: 0px 15px;
        }
    }

    .tree{
        font-size: 30px;
        // padding-left: 10%;
        display: flex;
        font-family: Helvetica, Bold;
        align-items: center;
        > * {
            display: inline-block;
        }
        // justify-content: center;
        gap: 10px;

    }
    

    .nav-acessar-investigate{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-investigate:hover{
        color: #F5C949
    }

    .nav-acessar-act{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-act:hover{
        color: #428CD3
    }

    .nav-engage-select{
        background-color: #58BC68;
        padding: 10px;
        border-radius: 10px;
        color: #000000;
    }

    .subir{
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    
    .subir:hover{
        text-decoration: underline;
    }
}


form{
    padding: 0 450px;
    position: relative;

    label{
        font-size: 28px;
        color: white;
    }

    .textos {
        width: 100%;
        min-width: 150px;
        resize: none;
        overflow: hidden;
        background-color: transparent;
        color: white;
        border: none;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        font-size: 22px;
        line-height: 24px;
        outline: none; /* Remove a borda ao focar no textarea */
    }

    .align-vertical{
        display: inline-flex;
        align-items: center;
        gap: 30px;
    }

    .step-container{
        background-color: #262626;
        padding: 20px;
        border-radius: 10px;
    }
    
} 

.main-content{
    display: inline;
    gap: 20px;
}

.navigation{
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
}

.pagination{
    color: white;
    padding-left: 250px;
    position: absolute;
}

.current-block{
    width: 178px;
    height: 100px;
    background-color: #58BC68;
    border: 5px solid white;
    border-radius: 10px;
}

.new-block{
    width: 178px;
    height: 100px;
    background-color: #262626;
    border-radius: 10px;    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 50;
}

.new-block:hover{
    cursor: pointer;
}

.visual-tab{
    position: fixed;
    height: 100%;
    background-color: #262626;
    width: 337px;
    top: 0;
    right: 0;
}

.title-archive{
    margin-left: 100px;
    font-size: 14px;
    color: white;
}

.button-archive{
    margin-left: 100px;
    background-color: rgb(1,155,158);
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    transition: 0.3s;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-archive:hover {opacity: 1}

.file-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
  
.file-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}
  
.file-list > div p {
    margin: 0; /* Remover margem padrão */
}