<header>
  <div class="tree">
    <!-- <app-togglemenu class="toggle-menu"></app-togglemenu> -->
    <a routerLink="/projeto" class="subir">Projetos</a> > <a routerLink="/jornada" class="subir">Projeto CBL</a> > <b> Engage</b>
  </div>
  <div class="navigation">
    <ul>
      <li class="nav-engage-select">Engage</li>
      <li><a routerLink="/investigate" class="nav-acessar-investigate">Investigate</a></li>
      <li><a routerLink="/act" class="nav-acessar-act">Act</a></li>
    </ul>
  </div>
</header>
<app-menu></app-menu>

<body>

  <div class="main-content">
    <div class="pagination">
      <div class="current-block">

      </div>
      <div class="new-block">
        +
      </div>
    </div>
    
    <form [formGroup]="engageForm">
      <div formArrayName="big_idea" class="step-container" [class.expanded]="isExpanded('big_idea')">
        <label class="align-vertical">
          <img src="../../../assets/images/big_idea.png" alt="lampada">
          Big Idea
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('big_idea')">
          </div>
        </label><br><br>
        <div *ngFor="let field of bigIdeaFields.controls; let i = index" [formGroupName]="i">
          <textarea class="textos" formControlName="content" (keydown.enter)="onFormSubmit($event, 'big_idea', i)" type="text"></textarea>
        </div>
      </div>
      <br>
      <div formArrayName="essential_question" class="step-container" [class.expanded]="isExpanded('essential_question')">
        <label class="align-vertical">
          <img src="../../../assets/images/essential_question.png" alt="pensando">
          Essential Question
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('essential_question')">
          </div>
        </label><br><br>
        <div *ngFor="let field of essentialQuestionFields.controls; let i = index" [formGroupName]="i">
          <textarea class="textos" formControlName="content" (keydown.enter)="onFormSubmit($event, 'essential_question', i)" type="text"></textarea>
        </div>
      </div>
      <br>
      <div formArrayName="challenge" class="step-container" [class.expanded]="isExpanded('challenge')">
        <label class="align-vertical">
          <img src="../../../assets/images/challenge.png" alt="alvo">
          Challenge
          <div class="phase-controls">
            <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('challenge')">
          </div>
        </label><br><br>
        <div *ngFor="let field of challengeFields.controls; let i = index" [formGroupName]="i">
          <textarea class="textos" formControlName="content" (keydown.enter)="onFormSubmit($event, 'challenge', i)" type="text"></textarea>
        </div>
      </div>
    </form>
  </div>

  <app-tab></app-tab>

  <div class="archives" *ngFor="let file of files">
    <p class="title-archive">Arquivo: {{ file.name }}</p>
    <!-- Uncomment this line to enable file download functionality -->
    <!-- <a [href]="getFileUrl(file)" (click)="downloadFile(file)"><button class="button-archive" type="button">Download</button></a> -->
  </div>

  <div class="images" *ngFor="let image of images">
    <img [src]="image.value" alt="Uploaded Image">
  </div>

</body>