<header>
  <div class="tree">
    <!-- <app-togglemenu class="toggle-menu"></app-togglemenu> -->
    <a routerLink="/projeto" class="subir">Projetos</a> > <a routerLink="/jornada" class="subir">Projeto CBL</a> > <b> Engage</b>
  </div>
  <div class="navigation">
    <ul>
      <li class="nav-engage-select">Engage</li>
      <li><a routerLink="/investigate" class="nav-acessar-investigate">Investigate</a></li>
      <li><a routerLink="/act" class="nav-acessar-act">Act</a></li>
    </ul>
  </div>
</header>
<!-- <app-menu></app-menu> -->

<body>

  <div class="main-content">
    <div class="engage-container">
      <div class="pagination-container" [class.collapsed]="isPaginationCollapsed">
        <app-toggleicon 
          [isCollapsed]="isPaginationCollapsed"
          (toggle)="togglePagination()"
          class="toggle-icon">
        </app-toggleicon>
        
        <app-pagination 
          [backgroundColor]="'#58BC68'" 
          [isCollapsed]="isPaginationCollapsed"
          (pageSelected)="onPageChange($event)"
          >
        </app-pagination>
        <!-- <ng-container *ngIf="currentPage">
          <app-page-content
            [pageNumber]="currentPage"
            [title]="'Page ' + currentPage"
          ></app-page-content>
        </ng-container> -->
      </div>

      <ng-container *ngIf="currentPage === 1; else otherPageContent">
        <!-- Original Content -->
        <form 
          [formGroup]="engageForm" 
          [class.full-width]="isFullWidth"
          [class.expanded-width]="isPaginationCollapsed && !isTabCollapsed"
          [class.default-width]="!isFullWidth && !isPaginationCollapsed"
        >
          <div formArrayName="big_idea" class="step-container" [class.expanded]="isExpanded('big_idea')">
            <div class="header">
              <label class="align-vertical">
                <img src="../../../assets/images/big_idea.png" alt="lampada">
                Big Idea
                <div class="phase-controls">
                  <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('big_idea')">
                </div>
              </label><br><br>
            </div>
            <div>
              <div *ngFor="let field of bigIdeaFields.controls; let i = index" [formGroupName]="i">
                <textarea
                  class="textos"
                  formControlName="content"
                  (keydown.enter)="onFormSubmit($event, 'big_idea', i)" 
                  (input)="autoResize($event)"
                ></textarea>
              </div>
            </div>
            <!-- <div *ngFor="let field of bigIdeaFields.controls; let i = index" [formGroupName]="i">
              <textarea class="textos" formControlName="content" (keydown.enter)="onFormSubmit($event, 'big_idea', i)" type="text"></textarea>
            </div> -->
          </div>
          <br>
          <div formArrayName="essential_question" class="step-container" [class.expanded]="isExpanded('essential_question')">
            <div class="header">
              <label class="align-vertical">
                <img src="../../../assets/images/essential_question.png" alt="pensando">
                Essential Question
                <div class="phase-controls">
                  <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('essential_question')">
                </div>
              </label><br><br>
            </div>
            <div>
              <div *ngFor="let field of essentialQuestionFields.controls; let i = index" [formGroupName]="i">
                <textarea 
                class="textos" 
                formControlName="content" 
                (keydown.enter)="onFormSubmit($event, 'essential_question', i)"
                (input)="autoResize($event)"
                type="text">
                </textarea>
              </div>
            </div>
          </div>
          <br>
          <div formArrayName="challenge" class="step-container" [class.expanded]="isExpanded('challenge')">
            <div class="header">
              <label class="align-vertical">
                <img src="../../../assets/images/challenge.png" alt="alvo">
                Challenge
                <div class="phase-controls">
                  <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('challenge')">
                </div>
              </label><br><br>
            </div>
            <div>
              <div *ngFor="let field of challengeFields.controls; let i = index" [formGroupName]="i">
                <textarea 
                class="textos" 
                formControlName="content" 
                (keydown.enter)="onFormSubmit($event, 'challenge', i)"
                (input)="autoResize($event)"
                type="text">
                </textarea>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-template #otherPageContent>
        <form
          [formGroup]="otherPageForm"
          [class.full-width]="isFullWidth"
          [class.expanded-width]="isPaginationCollapsed && !isTabCollapsed"
          [class.default-width]="!isFullWidth && !isPaginationCollapsed"
        >
          <div
            class="step-container"
            [class.expanded]="isExpanded('custom')"
          >
            <div class="header">
              <label class="align-vertical">
                <img
                  src="../../../assets/images/edit-icon.png"
                  alt="edit icon"
                />
                <div class="editable-title">
                  <span
                    *ngIf="!isEditingTitle"
                    (click)="startEditingTitle()"
                    class="custom-title"
                    title="Click to edit"
                  >
                    {{ title || 'Título' }}
                  </span>
                  <input
                    *ngIf="isEditingTitle"
                    [value]="title"
                    (blur)="stopEditingTitle($event)"
                    (keydown.enter)="stopEditingTitle($event)"
                    class="title-input"
                  />
                </div>
                <div class="phase-controls">
                  <img
                    src="../../../assets/images/expand.png"
                    class="toggle-symbol"
                    (click)="togglePhase('custom')"
                  />
                </div>
              </label>
            </div>
            <div>
              <textarea
                class="textos"
                formControlName="content"
                (keydown.enter)="onFormSubmit($event, 'custom', 0)"
                (input)="autoResize($event)"
              ></textarea>
            </div>
          </div>
        </form>
      </ng-template>
    </div>
  </div>

  <!-- <div
    cdkDropList
    id="drop-zone"
    class="drop-zone"
    (cdkDropListDropped)="onDrop($event)"
  >
    <ng-container *ngFor="let block of droppedBlocks">
      <app-text *ngIf="block.type === 'text'" [data]="block.data"></app-text>
      <app-image *ngIf="block.type === 'image'" [data]="block.data"></app-image>
      <app-tabelavariavel *ngIf="block.type === 'table'" [data]="block.data"></app-tabelavariavel>
      <app-file *ngIf="block.type === 'file'" [data]="block.data"></app-file>
    </ng-container>
  </div> -->


  <div cdkDropList id="drop-zone" class="drop-zone" (cdkDropListDropped)="onDrop($event)">
    
    <ng-container *ngFor="let block of blocks">
      <ng-container [ngSwitch]="block.type">
        <div *ngSwitchCase="'text'">
          <app-text [data]="block.data"></app-text>
        </div>
        <div *ngSwitchCase="'image'">
          <app-image [data]="block.data"></app-image>
        </div>
        <div *ngSwitchCase="'table'">
          <app-tabelavariavel [data]="block.data"></app-tabelavariavel>
        </div>
        <div *ngSwitchCase="'file'">
          <app-file [data]="block.data"></app-file>
        </div>
        <p *ngSwitchDefault>Unknown block type: {{ block.type }}</p>
      </ng-container>
    </ng-container>
  </div>

  <!-- <div class="pages-container">
    <app-page-content
      *ngFor="let page of pages"
      [icon]="page.icon"
      [title]="page.title"
      [pageId]="page.id"
      (blockClick)="onPageSelect($event)">
    </app-page-content>
  </div> -->

  <div class="tab-container" [class.collapsed]="isTabCollapsed">
    <!-- <app-toggleicon 
      [isCollapsed]="isTabCollapsed" 
      (toggle)="toggleTab()"
      class="toggle-icon">
    </app-toggleicon> -->
    <!-- <app-tab [isCollapsed]="isTabCollapsed"></app-tab> -->
    <app-tab (toggleEvent)="handleTabToggle($event)"></app-tab>
  </div>

  <div class="archives" *ngFor="let file of files">
    <p class="title-archive">Arquivo: {{ file.name }}</p>
    <!-- Uncomment this line to enable file download functionality -->
    <!-- <a [href]="getFileUrl(file)" (click)="downloadFile(file)"><button class="button-archive" type="button">Download</button></a> -->
  </div>

  <div class="images" *ngFor="let image of images">
    <img [src]="image.value" alt="Uploaded Image">
  </div>

</body>