html, body {
    background-color: var(--main-color);
    min-height: 100vh;

}

.tab-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-icon {
    position: fixed;
    top: 10px;
    right: 340px; // Adjust as needed
    transition: right 0.3s ease; 
}
  
.tab-container.collapsed .toggle-icon {
    right: 10px; // Adjust as needed for collapsed position
}


header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin: 0;
    position: relative;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 337px;
    padding-left: 7%;
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            display: inline-block;
            margin: 0px 15px;
        }
    }

    .tree{
        font-size: 30px;
        // padding-left: 10%;
        display: flex;
        font-family: "Helvetica Neue", Helvetica, Bold;
        align-items: center;
        > * {
            display: inline-block;
        }
        // justify-content: center;
        gap: 10px;

    }
    
    .nav-acessar-engage{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-engage:hover{
        color: #58BC68
    }

    .nav-acessar-investigate{
        color: white;
        text-decoration: none;
    }

    .nav-acessar-investigate:hover{
        color: #F5C949
    }

    .nav-act-select{
        background-color: #428CD3;
        padding: 10px;
        border-radius: 10px;
        color: #000000;
    }

    .subir{
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    
    .subir:hover{
        text-decoration: underline;
    }
}

.main-content{
    display: flex;
    gap: 20px;
}

.act-container {
    display: flex;
    align-items: flex-start; // Align top with pagination and content
    width: 100%;
    transition: all 0.3s ease;
    
    &.full-width {
        flex-direction: column; // Stack elements vertically in full-width mode
    }

}

.pagination-container {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    
    &.collapsed .pagination {
        width: 0;
        overflow: hidden;
    }

    .toggle-icon {
        position: relative;
        left: 200px;
        transition: left 0.3s ease;
    }

}

.pagination {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 250px;
    transition: width 0.3s ease;
}

.current-block, .new-block {
    width: 178px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 50;
    transition: opacity 0.3s ease;
}

.current-block {
    background-color: #428CD3;
    border: 5px solid white;
}

.new-block {
    background-color: #262626;
    margin-top: 20px;
    font-size: 40px;
    cursor: pointer;
}

form{
    padding: 0 80px;
    position: relative;
    flex-grow: 1; // Allows the form to take up the remaining space
    transition: width 0.3s ease, max-width 0.3s ease;
    max-width: 1100px; // Limit the form's width so it doesn't grow too large on very wide screens
    width: 100%;
    
     // Default form width when nothing is collapsed
    &.default-width {
        max-width: 1085px; // Default width, adjust as needed
        margin-left: 0;
    }

    // Expanded form width when pagination is collapsed, shifts left to cover more screen space
    &.expanded-width {
        max-width: 1318px; // Fixed expanded width
        margin-left: -50px; // Shift form left to give it more screen space
    }

    // Full width when both pagination and tab are collapsed
    &.full-width {
        width: 100%;
        max-width: none;
        margin-left: -5px; // Reset to center align if both are collapsed
    }

    label{
        font-size: 28px;
        color: white;
    }

    .textos {
        width: 100%;
        min-width: 150px;
        resize: none;
        overflow-y: hidden;
        background-color: transparent;
        color: white;
        border: none;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        line-height: 24px;
        outline: none;
        transition: height 0.2s ease; /* Smooth transition for resizing */
        max-height: 400px; /* Max height constraint */
    }
    
    .collapsed .textos {
        max-height: 60px; /* Height when collapsed */
        overflow-y: auto; /* Show scroll when height is exceeded */
    }

    .align-vertical{
        display: inline-flex;
        align-items: center;
        gap: 30px;
    }

    .step-container{
        position: relative;
        background-color: #262626;
        padding: 20px;
        border-radius: 10px;
        height: 90px; /* Default height for all phases */
        overflow: hidden; /* Prevent content overflow */
        transition: height 0.5s ease-in-out, flex-grow 0.5s ease-in-out;
        flex-grow: 0;
        cursor: pointer;
    }
    
    .step-container.expanded {
        height: 500px; /* Expanded height */
        flex-grow: 1; /* Allows this phase to take up more space smoothly */
    }

    .step-container.drag-over {
        background-color: #333;
    }

    .phase-controls {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    .toggle-symbol{
        width: 18px;
        height: 22px;
    }
    
} 


.navigation{
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;
    margin-left: 19%;
}

.title-archive{
    margin-left: 100px;
    font-size: 14px;
}

.button-archive{
    margin-left: 100px;
    background-color: rgb(1,155,158);
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    transition: 0.3s;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-archive:hover {opacity: 1}

.file-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
  
.file-list > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}
  
.file-list > div p {
    margin: 0; /* Remover margem padrão */
}

.file-icon{
    width: 40px;
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.add-button {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 5px; /* Space between button and text area */
    padding: 0; /* Remove default padding */
    cursor: pointer; /* Change cursor to pointer for better UX */
    transition: opacity 0.3s ease, border-radius 0.3s ease;
    opacity: 0;
  }
  
  .input-wrapper:hover .add-button {
    opacity: 1; /* Make the button visible on hover */
    border-radius: 50%; /* Circular hover effect */
    background-color: rgba(255, 255, 255, 0.2); /* Optional background color on hover */
  }
  
  .input-wrapper {
    display: flex; /* Use Flexbox to align items */
    align-items: center; /* Center items vertically */
  }

 .addLinha{
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

// .container{
//     margin-left: 100px;
// }

// textarea{
//     font-family: Roboto, 'Helvetica Neue', sans-serif;
//     color: white;
//     border: none;
//     background-color: transparent;
//     outline: none;
//     min-width: 90%;
//     resize: none;
//     // overflow: hidden;
//     font-size: 16px;
//     overflow-y: hidden;
//     height: auto;
// }