<header>
  <div class="tree">
    <a routerLink="/projeto" class="subir">Projetos</a> > <a routerLink="/jornada" class="subir">Projeto CBL</a> > <b>Act</b>
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/engage" class="nav-acessar-engage">Engage</a></li>
      <li><a routerLink="/investigate" class="nav-acessar-investigate">Investigate</a></li>
      <li class="nav-act-select">Act</li>
    </ul>
  </div>
</header>

<body>    

    <div class="main-content">
      <div class="pagination">
        <div class="current-block">
          1
        </div>
        <div class="new-block">
          +
        </div>
      </div>
     
      <!-- Melhorar implementação posteriormente acessando Engage para ter referência --> 
      <form>
        <div class="step-container" 
          [class.expanded]="isExpanded('solution')" 
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'big_idea')">
          <label class="align-vertical">
            <img src="../../../assets/images/solution.png">
            Solution
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('solution')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('solution')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
        <br>
        <div class="step-container" 
          [class.expanded]="isExpanded('implementation')"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'big_idea')">
          <label class="align-vertical">
            <img src="../../../assets/images/implementation.png">
            Implementation
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('implementation')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('implementation')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
        <br>
        <div class="step-container" 
          [class.expanded]="isExpanded('evaluation')"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'big_idea')">
          <label class="align-vertical">
            <img src="../../../assets/images/evaluation.png">
            Evaluation
            <div class="phase-controls">
              <img src="../../../assets/images/expand.png" class="toggle-symbol" (click)="togglePhase('evaluation')">
            </div>
          </label><br><br>
          <div [class.collapsed]="!isExpanded('evaluation')">
            <textarea class="textos" (input)="autoResize($event)"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="act-container" [class.collapsed]="isTabCollapsed">
      <app-toggleicon 
        [isCollapsed]="isTabCollapsed" 
        (toggle)="toggleTab()"
        class="toggle-icon">
      </app-toggleicon>
      <app-tab [isCollapsed]="isTabCollapsed"></app-tab>
    </div>

  </body>