<body>
    
    <header>
      <div class="tree">
        <app-togglemenu class="toggle-menu"></app-togglemenu>
        <a routerLink="/jornada" class="subir">Turismo</a>
        /Act
      </div>
      <ul>
        <li><a routerLink="/perfil"><img src="../../../assets/images/perfil.png" width="20" height="20"></a></li>
        <li><a href="#"><img src="../../../assets/images/menu.png" width="20" height="20"></a></li>
        <li><a href="#"><img src="../../../assets/images/config.png" width="20" height="20"> </a></li>
      </ul>
    </header>
    
    <app-menu></app-menu>
    
    <div class="act-container">
      <img src="../../../assets/images/act.jpeg" class="act-image">
      <h1 class="act-title">Act</h1>
    </div>
    
   
    <div class="container" *ngFor="let textarea of textAreas; let i = index">
      <div class="input-wrapper">      
        <button mat-icon-button class="add-button" (click)="adicionarLinha()" >+</button>
        <textarea #textAreaRef class="textArea" placeholder="Digite '/' para opções" (input)="autoResize($event)"></textarea>
      </div>
    </div>
    
    
  
    <div class="archives" *ngFor="let file of files">
      <img class="file-icon" [src]="getFileIcon(file)" (click)="downloadFile(file)">
      <p class="title-archive">{{ file.name }}</p>
    </div>

    <div class="images" *ngFor="let image of images">
      <img [src]="image.value">
    </div>

    <a routerLink="/investigate"><button class="investigate"></button></a>
  </body>
