<div class="image-wrapper" *ngIf="data.imageUrl; else uploadPlaceholder">
  <img
    #resizableImage
    [src]="data.imageUrl"
    [style.width.px]="data.width"
    [style.height.px]="data.height"
    [style.maxWidth.px]="maxWidth"
    [style.maxHeight.px]="maxHeight"
    class="resizable-image"
    />
    <img
      src="../../../assets/images/resize.png"
      alt="Resize Icon"
      class="resize-icon"
      (mousedown)="onResizeStart($event)"
    />
</div>
<ng-template #uploadPlaceholder>
  <input #fileInput type="file" (change)="onFileSelected($event)" hidden />
</ng-template>