.image-container {
  width: 100%;
  padding: 10px;
  background-color: #262626;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-input {
  margin-bottom: 10px;
}

.image-wrapper {
  position: relative;
  display: inline-block;

  .resizable-image {
    display: block;
    border-radius: 5px;
    max-width: 50%; /* Prevents exceeding the container width */
    max-height: 50%; /* Prevents exceeding the container height */
  }

  .resize-icon {
    position: absolute;
    top: 10px; /* Adjust the distance from the top */
    left: 10px; /* Adjust the distance from the left */
    width: 20px;
    height: 20px;
    cursor: nw-resize; /* Indicates resizing */
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1; /* Make it more visible when hovered */
    }
  }
}


.image-preview {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #58bc68;
  border-radius: 50%;
  cursor: nwse-resize;
}