<!-- Versão antiga -->
<!-- <div class="visual-tab" [class.collapsed]="isCollapsed">
    
    <div class="tab-search">
      <mat-form-field appearance="outline" class="search-field">
        <input
          type="text"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          placeholder="Busca"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredItems | async"
            [value]="option.label"
            (click)="onOptionSelected(option.label)">
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <img src="../../../assets/images/lupa.png" alt="Search Icon" />
    </div>
    
   <div class="filtered-items">
      <div *ngFor="let item of filteredItems | async" class="item">
        <img [src]="'../../../assets/images/' + item.icon + '.png'" alt="{{ item.label }}" />
        <p>{{ item.label }}</p>
      </div>
    </div>

  </div> -->

<!-- Nova versão -->
<div class="visual-tab" [class.collapsed]="isCollapsed">
  <!-- Expand Icon (≡) - Shows when collapsed -->
  <div *ngIf="isCollapsed" class="expand-icon" (click)="toggleTab()">
      ≡
  </div>

  <!-- Close Icon (X) - Shows when expanded -->
  <div *ngIf="!isCollapsed" class="close-icon" (click)="toggleTab()">
      X
  </div>

  <div *ngIf="!isCollapsed" class="tab-search">
      <div class="search-field">
          <input
              type="text"
              matInput
              [formControl]="searchControl"
              [matAutocomplete]="auto"
              placeholder="Busca"
          />
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                  *ngFor="let option of filteredItems | async"
                  [value]="option.label"
                  (click)="onOptionSelected(option.label)">
                  {{ option.label }}
              </mat-option>
          </mat-autocomplete>
      </div>
      <img src="../../../assets/images/lupa.png" alt="Search Icon" />
  </div>

  <div *ngIf="!isCollapsed" class="filtered-items">
      <div *ngFor="let item of filteredItems | async" class="item">
          <img [src]="'../../../assets/images/' + item.icon + '.png'" alt="{{ item.label }}" />
          <p>{{ item.label }}</p>
      </div>
  </div>
</div>