<div class="visual-tab">
    <ul>
      <li>
        <div class="tab-selected">
          <img src="../../../assets/images/conteudos.png">
          <br>
          Conteúdos
        </div>
      </li>
      <li>
        <div>
          <img src="../../../assets/images/templates.png">
          <br>
          Templates
        </div>
      </li>
    </ul>
    
    <div class="tab-search">
      <mat-form-field appearance="outline" class="search-field">
        <input
          type="text"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          placeholder="Busca"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredItems | async"
            [value]="option.label"
            (click)="onOptionSelected(option.label)">
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <img src="../../../assets/images/lupa.png" alt="Search Icon" />
    </div>
    
   <div class="filtered-items">
      <div *ngFor="let item of filteredItems | async" class="item">
        <img [src]="'../../../assets/images/' + item.icon + '.png'" alt="{{ item.label }}" />
        <p>{{ item.label }}</p>
      </div>
    </div>

    <!-- <div class="tab-search">
      <mat-form-field appearance="outline" class="search-field">
        <input
          matInput
          placeholder="Busca"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
      </mat-form-field>
    
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredItems | async"
          [value]="option.label"
          (click)="onOptionSelected(option.label)"
        >
          <div class="option-content">
            <img [src]="option.icon" alt="{{ option.label }}" class="option-icon" />
            <span>{{ option.label }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
    
    <div class="filtered-grid">
      <div *ngFor="let item of itemsToShow" class="grid-item">
        <img [src]="item.icon" alt="{{ item.label }}" class="grid-icon" />
        <span>{{ item.label }}</span>
      </div>
    </div>
     -->

  </div>